.aluminum-top {
    background: url("../img/top/bg2.jpeg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;

}

.couple-text-aluminium .couple-text-aluminium__box {
    width: 48%;
}

.couple-text-aluminium .couple-text-aluminium__box span {
    width: 100%;
    display: inline-block;
    margin: 0 0 30px;
}

.couple-text-aluminium .couple-text-aluminium__box span:last-child {
    margin: 0;
}

.aluminium-content {
    position: relative;

    line-height: 120.49%;
    font-family: "Ubuntu-Light", sans-serif;
    font-size: 1.6vw;
    font-weight: normal;
}

.aluminium-content .container:before {
    content: '';
    position: absolute;
    left: 8.125vw;
    top: 0;
    background: #000000;
    width: 103px;
    height: .5px;
}

.aluminium-content .container {
    padding: 26px 8.125vw 35px;
    position: relative;
}


.aluminium-content p {
    margin: 0 0 30px;
}

.aluminium-content p:last-child {
    margin: 0;
}

.container {
    padding-left: 8.125vw;
    padding-right: 8.125vw;
    display: flex;
    flex-wrap: wrap;
}


.title-section {
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 3.75vw;
    line-height: 120.49%;
    margin: 0;
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.profile-box__title {
    font-weight: bold;
    font-size: 1.875vw;
    text-align: center;
    margin: 0;
}

.bg-grey {
    background: rgba(181, 178, 178, 0.56);
}

.profile {
    padding: 59px 0 46px;
}

.profile h2 {
    margin: 0 0 62px
}

.profile-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-box__img {
    width: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 0 0;
}

.profile-box__img-title {
    position: absolute;
    color: #FFFFFF;
    left: 63px;
    top: 35%;
    font-size: 1.4vw;
    line-height: 120.49%;
    font-family: 'Ubuntu-Light', sans-serif;
    font-weight: normal;
    background: url("../img/decor1.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 172.5px;
    height: 115.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box__img-title span {
    position: relative;
    z-index: 1;
    transform: rotate(-15.75deg);
}

.profile-box__img-title:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/decor1.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.profile-box__img img {
    width: 100%;
}

.profile-box__title {
    font-weight: bold;
    font-size: 1.875vw;
    font-family: 'Ubuntu', sans-serif;
}

.profile-box:nth-child(2) .profile-box__img-title {
    left: 38px;
    top: 36%;
}

.profile-box__text {
    max-width: 530px;
    font-size: 1.4vw;
}

.suppliers {
    padding: 80px 0;
}

.suppliers-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 57px 0 0 0;
}

.suppliers-box {
    margin: 0 0 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 274px;
}

.suppliers-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: inline-block;
    filter: grayscale(100%);
}

.virtues-aluminium {
    background: url("../img/virtues/bg2.jpeg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px 8.125vw 135px 8.125vw;
}

.virtues-aluminium .text {
    font-size: 1.4vw;
    font-weight: normal;
    font-family: 'Ubuntu-Light', sans-serif;
    margin: 25px 0 16px;
    display: block;
}

.virtues-aluminium .text p {
    margin: 0;
}

.virtues-aluminium .virtues-big {
    background: url("../img/virtues/mobile/black-3.png") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.virtues-aluminium .virtues-child-2 {
    justify-content: space-between;
}

.virtues-aluminium__box {
    text-align: center;
    width: 275px;
    height: 165px;
}

.virtues-aluminium__box .virtues-big {
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px 4px;
}

.constructions {
    padding: 93px 0 49px;
}

.constructions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}

.constructions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.constructions-box__img {
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.constructions-box__img img {
    width: 100%;
}

.constructions-box__title {
    text-align: center;
    color: #FFFFFF;
    background: url("../img/constructions/decor2.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 28px auto 0;
    width: 215px;
    height: 75px;
    font-size: 1.875vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.subtitle {
    width: 100%;
    font-size: 1.875vw;
    font-family: 'Ubuntu-Medium', sans-serif;
    margin: 0 0 15px;
}

.section-color {
    padding: 54px 0 120px;
    font-size: 1.4vw;
}

.section-color__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.section-color__content .w-50 {
    width: 49%;
}

.section-color__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 339px;
    margin: 0 0 44px;
}

.text-center {
    text-align: center;
}

.section-color h6 {
    margin: 0 0 57px;
    font-size: 1.4vw;
    font-weight: normal;
}

.wrapper__img {
    margin: 0 auto;
    max-width: 526px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper__img img {
    width: 100%;
}

.section-color__img img {
    width: 100%;
}

footer .material-child-3-1, footer .material-child-3-2, footer .material-child-3-4 {
    padding: 0;
}

footer .material-child-3 {
    margin: 0 0 77px;
}

footer .material-child-3-4 {
    margin: 30px 0 0;
}

footer .material-child-3-1 {
    margin: 0 0 43px;
}

footer .aluminum-footer-item-2 > div:nth-child(2) {
    justify-content: center;
}

.aluminum-footer-item-2 .footer-colors {
    justify-content: space-between;
    max-width: 395px;
    flex-wrap: wrap;
}

.aluminum-footer-item-2 .footer-colors > div > img {
    width: 100px;
}

.aluminum-footer-item-2 .footer-colors > div > span {
    font-size: 18px;
    margin: 0 0 18px;
    width: 100%;
    font-family: 'Ubuntu-Light', sans-serif;
}

footer .aluminum-footer-item-2 > div:nth-child(1) {
    width: 560px !important;
    height: 596px !important;
    -webkit-background-size: contain;
    background-size: contain;
}

footer .aluminum-footer-item-2 > div:nth-child(2) {
    padding: 0;
}

.ml-auto {
    margin-left: auto;
}

.text-right {
    text-align: right;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.painting {
    display: flex;
    flex-wrap: wrap;
}

/*portals*/
.portals-top {
    background: url("../img/portals/bg1.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.portals-top .top-title {
    max-width: 697px;
    width: 100%;
}

.portals-content {
    margin: 76px 0 0 0;
}

.portals-content p {
    margin: 0;

}

.portals-content .container {
    padding: 26px 25px 63px;
}

.virtues-portals {
    background: url("../img/portals/bg2.jpeg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 75px 8.125vw 115px 8.125vw;
}

.virtues-portals .virtues-aluminium__box {
    width: 280px;
    height: 70px;
}

.virtues-portals .virtues-big {
    background: url("../img/portals/decor.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;

}

.virtues-portals .virtues-aluminium__box span {
    display: inline-block;
    font-size: 15px;
    font-family: 'Ubuntu-Light', sans-serif;
}

.virtues-portals .virtues-aluminium__box strong {
    display: inline-block;
}

.virtues-portals .virtues-child-1 {
    margin: 0 0 90px;

}

.portals-img {
    height: 810px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portals-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.portals {
    padding: 59px 0 0;
    position: relative;
}

.portals-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 70px 0 57px;
}

.portals-box .logo-section {
    position: absolute;
    right: 0;
    top: -70px;
}

.portals-text {
    font-size: 18px;
    line-height: 120.49%;
    max-width: 817px;
}

.logo-section {
    width: 284px;
}

.logo-section img {
    width: 100%;
}

.portals-box p {
    margin: 0;
}

.portals-box .subtitle {
    margin: 0 0 37px;
}

.portals .title-section {
    margin: 0 0 37px;
}

.pt-0.portals-box {
    padding-top: 0;
}

.pt-120 {
    padding-top: 120px;
}

.virtues-portals .virtues-child-1 {
    padding: 0;
}

.virtues-portals .virtues-child-2 {
    flex-wrap: wrap;
}

/*glazing*/
.glazing-top {
    background: url("../img/glazing/bg1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.glazing-content .container {
    padding-top: 0;
}

.glazing-content .container:before {
    display: none;
}

.virtues-glazing {
    background: url("../img/glazing/bg2.jpeg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 73px 0 40px;
}

.virtues-glazing .virtues-aluminium__box {
    width: 260px;
    height: 60px;

}

.virtues-glazing .virtues-aluminium__box .virtues-big {
    font-size: 30px;
    font-family: 'Ubuntu-Light', sans-serif;
}

.virtues-glazing .virtues-aluminium__box:nth-child(even) {
    margin: 100px 0 0;
}

.advantages {
    padding: 71px 0 63px;
}

.advantages .title-section {
    margin: 0 0 54px;
}

.advantages-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-box {
    padding: 0 28px 0 71px;
    font-size: 18px;
    max-width: 25%;
    width: 100%;
    min-height: 103px;
    border-right: 0.5px solid #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-box p {
    margin: 0;
}

.advantages-box:first-child {
    padding-left: 0;
}

.advantages-box:last-child {
    padding-right: 0;
    border: none;
}

.provider {
    padding: 71px 0 79px;
}

.provider-logo {
    margin: 50px auto 94px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.provider-logo img {
    width: 100%;
}

.provider .subtitle {
    font-size: 30px;
    font-weight: normal;
    margin: 0 auto 34px;
}


.provider-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.provider-box {
    padding: 0 29px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    max-width: 33%;
    line-height: 120.49%;
    min-height: 103px;
    border-right: 0.5px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.provider-box:last-child {
    border: none;
}

.provider-box p {
    margin: 0;
}

.stages-work {
    padding: 68px 0;
    background: url("../img/glazing/bg3.jpeg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.stages-work__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 90px 0 0;
}

.stages-work__box {
    width: 50%;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 24px;
    line-height: 120.49%;
    margin: 0 0 70px;
}

.stages-work__box:nth-child(2) .number, .stages-work__box:nth-child(3) .number {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}



.stages-work__box .number {
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 36px;
    line-height: 120.49%;
    color: #FFFFFF;
    width: 96px;
    height: 70px;
    background: url("../img/glazing/decor.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stages-work__box p {
    padding: 0;
}

.stages-work__box:last-child {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.stages-work__box:last-child .number {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.stages-work__box:nth-child(2) .number span, .stages-work__box:nth-child(3) .number span {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: inline-block;
}

.stages-work__box:last-child .number span {
    transform: matrix(1, 0, 0, -1, 0, 0);
    display: inline-block;
}
